@font-face {
    font-family: 'Simply Rounded';
    src: url('./fonts/SimplyRounded-Bold.woff2') format('woff2'),
        url('./SimplyRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Simply Rounded';
    src: url('./fonts/SimplyRounded.woff2') format('woff2'),
        url('./fonts/SimplyRounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

